xmlclasswork/XMLassignment/item.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Item" >
<xs:complexType >
	<xs:sequence>
		<xs:element ref="Description"/>
		<xs:element ref="Quantity"/>
		<xs:element ref="UnitPrice"/>
		<xs:element ref="ItemID"/>
	</xs:sequence>
<xs:attribute name="category" type="xs:string" use="required" fixed="FM"/>
</xs:complexType>
</xs:element>

<xs:element name="Description" type="xs:string"/>
<xs:element name="Quantity" type="xs:integer"/>
<xs:element name="UnitPrice" type="xs:float"/>
<xs:element name="ItemID" type="xs:string"/>
</xs:schema>
