xmlclasswork/XMLassignment/name.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Person" >
<xs:complexType >
	<xs:sequence>
		<xs:element ref="firstname"/>
		<xs:element ref="lastname"/>
	</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="firstname" type="xs:string"/>
<xs:element name="lastname" type="xs:string"/>
</xs:schema>
