xmlclasswork/XMLassignment/product.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="product" type="priceType">
<xsd:simpleType name="priceType">
<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="2000"/>
			<xsd:maxInclusive value="5000"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>


<xsd:element name="Product_price" type="goodsPriceType">
<xsd:complexType name="goodsPriceType">
<xsd:simpleContent>
<xsd:extension base="priceType">
<xsd:attribute name="Currency" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
