XML/complex/priceType.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:simpleType name="priceType">
  <xs:restriction base="xs:int">
    <xs:minInclusive value="2000"/>
    <xs:maxInclusive value="5000"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="goodsPriceType">
	<xs:simpleContent>
		<xs:extension base="priceType">
		<xs:attribute name = "Currency" type="xs:string" use="required"/>
		</xs:extension>
		</xs:simpleContent>
</xs:complexType>
</xs:schema>