xmlclasswork/empdetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="employee">
<xs:complexType>
<xs:simpleContent>
<xs:extension base="xs:string">
<xs:attributeGroup ref="empdetails"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
</xs:element>
<xs:attributeGroup name="empdetails">
<xs:attribute name="empid" use="required" type="xs:integer"/>
<xs:attribute name="empdesg" use="required" type="xs:string"/>
<xs:attribute name="empdept" use="required" type="xs:string"/>
<xs:attribute name="empsal" use="required" type="xs:positiveInteger"/>
</xs:attributeGroup>
